@model MyPet.ViewModels.CreateProductViewModel

@{
    ViewData["Title"] = "Добавление товара";
    ViewBag.Secondary = "Заполните поля, чтобы создать новый товар";
    int count = 0;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultPrice" class="control-label"></label>
                <input asp-for="DefaultPrice" class="form-control" />
                <span asp-validation-for="DefaultPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinPrice" class="control-label"></label>
                <input asp-for="MinPrice" class="form-control" />
                <span asp-validation-for="MinPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPrice" class="control-label"></label>
                <input asp-for="MaxPrice" class="form-control" />
                <span asp-validation-for="MaxPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductFullName" class="control-label"></label>
                <input asp-for="ProductFullName" class="form-control" />
                <span asp-validation-for="ProductFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductExtendedFullName" class="control-label"></label>
                <input asp-for="ProductExtendedFullName" class="form-control" />
                <span asp-validation-for="ProductExtendedFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductType" class="control-label"></label>
                <input asp-for="ProductType" class="form-control" />
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainFileName" class="control-label"></label>
                <input asp-for="MainFileName" class="form-control" />
                <span asp-validation-for="MainFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainFilePath" class="control-label"></label>
                <input asp-for="MainFilePath" class="form-control" />
                <span asp-validation-for="MainFilePath" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="ParsedUrl" class="control-label"></label>
                <input asp-for="ParsedUrl" class="form-control" />
                <span asp-validation-for="ParsedUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Create"  class="mt-2 btn btn-primary">Создать</button>
            </div>
        </form>

    </div>
</div>


