@model MyPet.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Adding new stuff";
}
<h2>Create product</h2>

<form asp-action="create" asp-controller="product" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="ProductName" class="control-label">Product name</label>
        <input type="text" asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Price</label>
        <input type="number" asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Category" class="control-label">Categoty</label>
        <input type="text" asp-for="Category" class="form-control" />
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Brand" class="control-label">Brand</label>
        <input type="text" asp-for="Brand" class="form-control" />
        <span asp-validation-for="Brand" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <input type="text" asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="ShortDescription" class="control-label">ShortDescription</label>
        <input type="text" asp-for="ShortDescription" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Info" class="control-label">Other information</label>
        <input type="text" asp-for="Info" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Image" class="control-label">Upload file</label>
        <input type="file" asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
 
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>