@page
@model AccessDeniedModel


<section class="text-center bg-overlay5 p-5 rounded-3 w-100">
    <h1 class="text-white">Доступ запрещен</h1>
    <p class="text-light">У вас нет доступа к этой странице</p>
</section>

