html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body{
    margin-bottom: 60px;
}

.mycenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
#page-title {
    position: relative;
    padding: 4rem 0;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEE;
}

#page-title span {
    display: block;
    margin-top: 4rem 0;
    font-weight: 300;
    color: #777;
    font-size: 18px;
}

.scroll-box {
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
}

.scroll-content {
    display: inline-block;
}

    .scroll-content img {
        display: inline-block;
        height: 200px;
        margin: 10px;
        width: auto;
    }
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    height: 10px;
    background: #888;
    transition: background inherit 2s;
}

::-webkit-scrollbar-thumb:hover {
    height: 13px;
    background: #555;
}
.bg-overlay {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(100% 1056.25% at 0% 0%, #F7E5F0 0%, #EEEBFF 20.44%, #D2DFFF 100%);
    position: static;
    
}
.mynav {
    border-bottom: 0.0625rem solid #e0e0e0;
    flex-shrink: 0;
    line-height: 1.7em;
    position: fixed;
    top: 0;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: transform cubic-bezier(0.4,0,0.2,1) 240ms;
    transition: transform cubic-bezier(0.4,0,0.2,1) 240ms;
    width: 100%;
    z-index: 986;

}


.myspacing{
    margin-right: 5px;
}
.nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5);
    border-bottom: 0.25rem solid transparent;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(var(--bs-body-color-rgb),.075) !important;
}
.mx-auto {

    margin-right: auto !important;
    margin-left: auto !important;
}
.btn{
border-radius: 15px;
}

.form-control {
    border-radius: 15px;
}

.input-group-text{
        border-radius: 15px;
        margin-left: 10px;
}

.nav nav-pills flex-column {
    border-radius: 15px;
}
.nav-link {
    border-radius: 15px;
}

.dropdown-menu{
border-radius: 15px;
}
.dropdown-item{
    border-radius: 5px;
}
.valid{
    margin-bottom: 20px;
}
.form-check-input{
    border-radius: 15px;
}
.alert{
    border-radius: 15px;
}
.navbar {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(1,1,10,1) 32%, rgba(20,20,61,1) 72%, rgba(0,52,77,1) 100%);
}

.mygradient {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(1,1,10,1) 32%, rgba(20,20,61,1) 72%, rgba(0,52,77,1) 100%);
}

.form-select{
    border-radius: 15px;
    margin-bottom: 20px;
}

.mymargin{
    margin-bottom: 20px;
}
.accordion-collapse{
    border-radius: 15px;
}
accordion-item {
    border-radius: 15px;
}
.accordion-button{
    border-radius: 15px;
}
.container {
    border-radius: 15px;
}

.myimage{
    border-radius: 15px;
    max-height: 40rem;
    max-width: auto;
}

.bg-overlay1 {
    background: rgb(4,0,77);
    background: radial-gradient(circle, rgba(4,0,77,1) 13%, rgba(3,3,154,1) 53%, rgba(106,37,255,1) 78%);
}
.bg-overlay2 {
    background: rgb(1,0,43);
    background: -moz-radial-gradient(circle, rgba(1,0,43,1) 34%, rgba(0,111,147,1) 64%, rgba(3,50,83,1) 78%);
    background: -webkit-radial-gradient(circle, rgba(1,0,43,1) 34%, rgba(0,111,147,1) 64%, rgba(3,50,83,1) 78%);
    background: radial-gradient(circle, rgba(1,0,43,1) 34%, rgba(0,111,147,1) 64%, rgba(3,50,83,1) 78%);
}

.bg-overlay3 {
    background: rgb(0,0,0);
    background: -moz-radial-gradient(circle, rgba(0,0,0,1) 4%, rgba(93,91,23,1) 60%, rgba(0,0,0,1) 78%);
    background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 4%, rgba(93,91,23,1) 60%, rgba(0,0,0,1) 78%);
    background: radial-gradient(circle, rgba(0,0,0,1) 4%, rgba(93,91,23,1) 60%, rgba(0,0,0,1) 78%);
}
