html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mycenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
#page-title {
    position: relative;
    padding: 4rem 0;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEE;
}

    #page-title span {
        display: block;
        margin-top: 10px;
        font-weight: 300;
        color: #777;
        font-size: 18px;
    }