<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - MyPet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyPet.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custombtn.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/news.css" asp-append-version="true" />
</head>
<body>
    <header style="margin-bottom: 4rem">

        <nav class="navbar navbar-dark navbar-expand-xl bg-body-secondary">
            <div class="container-fluid" bis_skin_checked="1">
                <a class="navbar-brand nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><strong class="badge bg-body-tertiary  text-dark border-secondary-subtle p-2">MyPet</strong></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        @*Product for user*@
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="AllNews">Новости</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="UserProduct" asp-route-PageNumber="1" asp-action="ShowFilteredProduct">Товары</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Cart" asp-action="ChosenProducts">Корзина</a>
                        </li>

                        @*Product manage*@
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Управление</a>

                            <div class="dropdown-menu" bis_skin_checked="1">
                                <a class="text-dark dropdown-item" asp-controller="Product" asp-action="ProductsToList">Список продуктов</a>
                                <a class="text-dark dropdown-item" asp-controller="Product" asp-action="Create">Создать</a>
                                <div class="dropdown-divider" bis_skin_checked="1"></div>
                                <a class="text-dark dropdown-item" asp-controller="News" asp-action="ManageNewsSettings">Новости</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Упавление доступом</a>
                            <div class="dropdown-menu" bis_skin_checked="1">
                                <a class="text-dark dropdown-item" asp-area="" asp-controller="Role" asp-action="Index">Роли</a>
                                <a class="text-dark dropdown-item" asp-area="" asp-controller="Role" asp-action="Create">Создать роль</a>
                                <div class="dropdown-divider" bis_skin_checked="1"></div>
                                <a class="text-dark dropdown-item" asp-area="" asp-controller="User" asp-action="Index">Список пользователей</a>
                            </div>
                        </li>
                     
                    </ul>
                    @*Search*@
                    <div class="d-flex">
                        <input form="searchForm" class="form-control me-2" name="searchTerm" type="search" placeholder="Введете текст...">
                        <button form="searchForm" class="btn btn-outline-light" type="submit">Поиск</button>

                    </div>
                    <partial name="_LoginPartial" />

                    <form id="searchForm" style="" role="search" asp-controller="UserProduct" asp-action="SearchProduct">
                    </form>
                </div>
              
            </div>
        </nav>

        @if (ViewBag.Title != null)
        {
            <section id="page-title" class="bg-overlay" style="display: flex;  height: auto">
                <div class="container clearfix" style="justify-content:flex-start;">
                    <h1>@ViewBag.Title</h1>
                    <div class="row">
                        <span class="col-lg-1 badge bg-overlay2 text-light" style="display: flex; margin-left: 9px; width: auto;">@ViewBag.Secondary</span>

                    </div>
                </div>
            </section>
        }

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2023 - MyPet - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - All rights reserved
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/_js/bootstrap.bundle.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
