<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title - Товары онлайн</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/MyPet.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/custombtn.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/news.css" asp-append-version="true"/>
</head>

<body>
<header style="z-index: 1000; margin-bottom: 4rem">

    <nav class="navbar navbar-dark navbar-expand-xl bg-dark" style="backdrop-filter: blur(20px)">
        <div class="container-fluid" bis_skin_checked="1">
            <a class="navbar-brand nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                <strong class="badge bg-body-tertiary  text-dark border-secondary-subtle p-2">Товары онлайн</strong>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    @*Product for user*@
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Home" asp-action="AllNews">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="UserProduct" asp-route-PageNumber="1" asp-action="ShowFilteredProduct">Товары</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Cart" asp-action="ChosenProducts">Корзина</a>
                    </li>

                    @*Product manage*@
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Управление</a>

                        <div class="dropdown-menu" bis_skin_checked="1">
                            <a class="text-dark dropdown-item" asp-controller="Product" asp-action="ProductsToList">Список продуктов</a>
                            <a class="text-dark dropdown-item" asp-controller="Product" asp-action="Create">Создать</a>
                            <div class="dropdown-divider" bis_skin_checked="1"></div>
                                <a class="text-dark dropdown-item" asp-controller="News" asp-action="ManageNewsSettings">Новости</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Упавление доступом</a>
                        <div class="dropdown-menu" bis_skin_checked="1">
                            <a class="text-dark dropdown-item" asp-area="" asp-controller="Role" asp-action="Index">Роли</a>
                            <a class="text-dark dropdown-item" asp-area="" asp-controller="Role" asp-action="Create">Создать роль</a>
                            <div class="dropdown-divider" bis_skin_checked="1"></div>
                        </div>
                    </li>

                </ul>
                @*Search*@
                <div class="d-flex">
                    <input form="searchForm" class="form-control me-2" name="searchTerm" type="search" placeholder="Введете текст...">
                    <button form="searchForm" class="btn btn-outline-light" type="submit">Поиск</button>

                </div>
                <partial name="_LoginPartial"/>

                <form id="searchForm" style="" role="search" asp-controller="UserProduct" asp-action="SearchProduct">
                </form>
            </div>

        </div>
    </nav>

    @if (ViewBag.Title != null)
    {
        <section id="page-title" class="bg-overlay shadow-lg" style="display: flex; min-height: 30dvh; height: auto; z-index: -1">
            <div class="container clearfix px-sm-3 px-3 px-lg-4 px-xl-3" style="justify-content:flex-start;">
                <h1 class="text-light">@ViewBag.Title</h1>
                <div class="row">
                    <span class="col-lg-1 badge text-light shadow-lg" style="display: flex; margin-left: 9px; width: auto; backdrop-filter:blur(10px) saturate(5)">@ViewBag.Secondary</span>
                </div>
            </div>
        </section>
    }

</header>
<div class="container pb-5">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<div class="border-top container mt-5" bis_skin_checked="1">
    <footer class="py-5 pb-2 mb-2">
        <div class="row" bis_skin_checked="1">
            <div class="col-6 col-md-2 mb-3" bis_skin_checked="1">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">Home</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">Features</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">Pricing</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">FAQs</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">About</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3" bis_skin_checked="1">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">Home</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">Features</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">Pricing</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">FAQs</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">About</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3" bis_skin_checked="1">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">Home</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">Features</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">Pricing</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">FAQs</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">About</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3" bis_skin_checked="1">
                <form id="searchForm" style="" role="search" asp-controller="UserProduct" asp-action="SearchProduct">
                    <h5>Найдете все что угодно!</h5>
                    <p>Огромный выбор и <a class="link-primary" asp-action="ShowFilteredProduct" asp-controller="UserProduct">удобные фильтры</a>. Начните прямо сейчас</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2" bis_skin_checked="1">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" name="searchTerm" type="search" class="form-control" placeholder="Ваш запрос">
                        <button class="btn btn-primary" type="submit">Поиск</button>
                    </div>
                </form>

            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top" bis_skin_checked="1">
            <p>© 2024 Товары онлайн, Inc. Все <a asp-action="Privacy" asp-controller="Home">права</a> защищены.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3">
                    <a class="link-dark" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-dark" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-dark" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</div>


<script src="~/js/three.min.js"></script>
<script src="~/js/vanta.cells.min.js"></script>
<script>
        VANTA.CELLS({
            el: "#page-title",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            color1: 0x00002f,
            color2: 0xd9d9d9,
            size: 1.30,
            speed: 2.90
        })
    </script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/_js/bootstrap.bundle.min.js"></script>

@await Component.InvokeAsync("Notyf")
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>