@using MyPet.Areas.SomeLogics;
@using MyPet.ViewModels;
@model IEnumerable<ProductViewModel?>
@{
    int count = Model.Count();
    if (count > 0)
    {
        ViewBag.Title = "Список всех товаров";
        ViewBag.Secondary = "Найдено: " + count;
    }
    List<string?> categoties = await ProductHelper.GetAllCategoriesAsync();
}
<div class="accordion mymargin" id="accordionExample" bis_skin_checked="1">
    <div class="accordion-item" bis_skin_checked="1" style="border-radius: 15px;">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">

                <div class="mycenter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z" />
                    </svg> &thinsp; Фильтрация


                </div>

            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" bis_skin_checked="1">
            <div class="accordion-body" bis_skin_checked="1">
                <form asp-action="ShowFilteredProduct" method="post">

                    <div class="form-group">
                        <div class="row">

                            <div class="col-8">
                                <label class="text-muted">Категория товара</label>

                                <select name="ProductType" class="form-select">
                                    @foreach (var item in categoties)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                            </div>
                            <div class="col">
                                <label class="text-muted">Фильтрация по цене</label>

                                <select name="SortPrice" class="form-select">

                                    <option value="1">Сначала дешевые</option>
                                    <option value="2">Сначала дорогие</option>
                                    <option value="0">Любые</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <input type="text" name="MinPrice" placeholder="Цена от" class="form-control mymargin" />
                            </div>

                            <div class="col">
                                <input type="text" name="MaxPrice" placeholder="Цена до" class="form-control mymargin" />
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mymargin">
                        <div class="mycenter">
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 2px" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg> &thinsp; Поиск
                        </div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>



<partial name="_ProductListForUserPartial"></partial>
