@using MyPet.Areas.SomeLogics;
@using MyPet.ViewModels;
@model IEnumerable<ProductViewModel?>
@{
    int count = Model.Count();
    if (count > 0)
    {
        ViewBag.Title = "Список всех товаров";
        ViewBag.Secondary = "Найдено: " + count;
    }
    List<string?> categoties = await ProductHelper.GetAllCategoriesAsync();
}
<div class="accordion mymargin" id="accordionExample" bis_skin_checked="1">
    <div class="accordion-item" bis_skin_checked="1" style="border-radius: 15px">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed " style="border-radius: 15px" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">

                <div class="mycenter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z" />
                    </svg> &thinsp; Фильтрация


                </div>

            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" bis_skin_checked="1">
            <div class="accordion-body" bis_skin_checked="1">
                <div class="row">
                    <form asp-action="ShowFilteredProduct" id="enable_filter" method="post">

                        <div class="form-group">
                            <div class="row mymargin">

                                <div class="col-8">
                                    <label class="text-muted">Категория товара</label>

                                    <select name="ProductType" class="form-select">
                                        @foreach (var item in categoties)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>
                                </div>
                                <div class="col">
                                    <label class="text-muted">Фильтрация по цене</label>

                                    <select name="SortPrice" class="form-select">

                                        <option value="1">Сначала дешевые</option>
                                        <option value="2">Сначала дорогие</option>
                                        <option value="0">Любые</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" name="MinPrice" placeholder="Цена от" class="form-control mymargin" />
                                </div>

                                <div class="col">
                                    <input type="text" name="MaxPrice" placeholder="Цена до" class="form-control mymargin" />
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                        </div>
                    </form>
                    <div class="d-flex me-2">
                        <button form="enable_filter" type="submit" class="btn btn-primary mymargin me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 2px" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg> Поиск
                        </button>

                        <a asp-action="ClearFilter" type="submit" class="btn btn-danger mymargin">
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 2px" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg> Очистить фильтр
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<partial name="_ProductListForUserPartial"></partial>
