@using MyPet.Areas.SomeLogics;
@using MyPet.ViewModels;
@model IEnumerable<ProductViewModel>
@{
    ViewBag.Title = "Товары";
    ViewBag.Secondary = "Спикок всех доступных товаров";
    List<string?> categoties = await ProductHelper.GetAllCategoriesAsync();

}

<form asp-action="Filter" method="post">

    <div class="form-group">
        <div class="row">
    
            <div class="col-8">
                <label class="text-muted">Категория товара</label>

                <select name="ProductType" class="form-select">
                    @foreach (var item in categoties)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>

            <div class="col">
                <label class="text-muted">Фильтрация по цене</label>

                <select name="SortPrice" class="form-select">

                    <option value="1">Сначала дешевые</option>
                    <option value="2">Сначала дорогие</option>
                    <option value="0">Любые</option>

                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <input type="text" name="MinPrice" placeholder="Цена от" class="form-control mymargin" />
            </div>

            <div class="col">
                <input type="text" name="MaxPrice" placeholder="Цена до" class="form-control mymargin" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mymargin">Искать</button>
</form>


<partial name="_ProductListForUserPartial"></partial>
