﻿@using Microsoft.AspNetCore.Identity

@model MyPet.ViewModels.ChangeRoleViewModel
@{
    ViewBag.Title = "Изменение ролей";
    ViewBag.Secondary = "Для пользователя: " + Model.UserEmail;
}

<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group mb-2">
        <h2>Доступные роли</h2>
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" class="form-check-input" name="roles" value="@role.Name"
               @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />

            @role.Name <br />
        }
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>