@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "_Layout.cshtml";
    }

    ViewBag.Secondary = "Измените настройки";
}


    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>


@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
